@model IEnumerable<Melody.Models.Following>
@{
    ViewData["Title"] = "Index";
}
<style>
    .following-container {
        background-color: #333;
        width: auto;
        height: auto;
        padding: 15px;
        border-radius: 25px;
        display: flex;
        flex-direction:column;
        gap: 7px;
    }

    .following-list {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        width: auto;
        height: auto;
        gap: 5px;
    }

    .following-item {
        width: 120px;
        border-radius: 25px;
        height: 120px;
        background-color: black;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 100px;
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 25px;
        object-fit: cover;
        border: 2px solid #5fd068;
    }

    .following-name {
        position: absolute;
        bottom: -15px; /* Position below the artist image */
        text-align: center;
        font-size: 14px;
        color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none; /* Prevent interaction with the name */
    }

    .following-item:hover .following-name {
        opacity: 1;
    }
</style>
<div class="container">
    @await Html.PartialAsync("_leftDiv")
    <div class="div-right">
        @await Html.PartialAsync("_rightDiv")
        <div class="following-container">
            <h3>Following</h3>
            <div class="following-list">
                @foreach (var following in Model)
                {
                    <div class="following-item">
                        <a href="@Url.Action("Artist", "Artists", new { id = following.Artist.ArtistId })">

                            <div class="image-container">
                                <img src="~/images/@following.Artist.ImagePath" class="image" alt="@following.Artist.Name" />
                            </div>

                        </a>
                        <div class="following-name">@following.Artist.Name</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>