<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="cols-md-4">
                <img src="path-to-logo.png" alt="Melody Logo" class="logo">
                <div class="social-icons">
                    <a href="#"><i class="x"></i></a>
                    <a href="#"><i class="instagram"></i></a>
                    <a href="#"><i class="youtube"></i></a>
                    <a href="#"><i class="linkedin"></i></a>
                </div>
            </div>
            <div class="cols-md-4">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="cols-md-4">
                <h3>Communities</h3>
                <ul>
                    <li><a href="#">For Artists</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">Vendors</a></li>
                </ul>
            </div>
            <div class="cols-md-4">
                <h3>Plans</h3>
                <ul>
                    <li><a href="#">Premium Individual</a></li>
                    <li><a href="#">Premium Duo</a></li>
                    <li><a href="#">Premium Family</a></li>
                    <li><a href="#">Premium Student</a></li>
                    <li><a href="#">Free</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Melody ABC</p>
    </div>
</footer>