<!DOCTYPE html>
<html lang="en">
@RenderBody()
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Melody</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@await Html.PartialAsync("_footer")

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script>
    // Create a custom cursor element
    const glowCursor = document.createElement("div");
    glowCursor.id = "glow-cursor";
    document.body.appendChild(glowCursor);

    // Move the custom cursor with the mouse
    document.addEventListener("mousemove", (e) => {
        glowCursor.style.left = `${e.pageX - glowCursor.offsetWidth / 2}px`;
        glowCursor.style.top = `${e.pageY - glowCursor.offsetHeight / 2}px`;
    });

    // Optional: Add a scaling effect on mouse click
    document.addEventListener("mousedown", () => {
        glowCursor.style.transform = "scale(1.5)";
    });
    document.addEventListener("mouseup", () => {
        glowCursor.style.transform = "scale(1)";
    });


    //Disable the inspect option in the webpage
    // document.addEventListener('contextmenu', function (e) {
    //     e.preventDefault();
    // });
    // document.onkeydown = function (e) {
    //     if (e.key === 'F12' || (e.ctrlKey && e.shiftKey && e.key === 'I')) {
    //         e.preventDefault();
    //     }
    // };

</script>

<script src="https://kit.fontawesome.com/540ce77472.js" crossorigin="anonymous"></script>